* {
   
    margin:0px;
    font-family:Arial;
    border:border-box;
    
}
.navigation {
    height:60px;
    background-color:#0F1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.navlogo {
    height:50px;
    width:113px;

}
.logo {
    background-image: url(./amazon_logo.png);
    height:50px;
    width:100%;
    background-size: cover;
    
}
.border{

    border:1px solid transparent;
    
}
.border:hover{
    border: 1px solid white;
}

.add-icon{
    display:flex;
    align-items: center;
}
#one{
    color:#cccccc;
    font-size:0.85em;
    margin-left: 15px;
 
}
#two{
    color:white;
    font: size 1em;
    margin-left:3px;

}

.navsearch{
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:40px;
    width:620px;   
    border-radius:4px;

}

select{
background-color:#f3f3f3;
width:50px;
height:42px;
text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius:4px;
border:none;
}

input{
    width: 100%;
    height:40px;
    font-size: 1rem;
    border:none;
    padding-left: 10px;

}


.searchbar{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color:#febd68;
    height:42px;
    border-top-right-radius: 4px;
   border-bottom-right-radius:4px;
   color:#0f1111;

}
.country{
    width:150px;
    height:60px;
    margin-right:9px;
    border:none;
}
.country select{
    width:150px;
    height:50px;
    background-color: transparent;
    color:white;
    border:none;

}
.country select option{
    color:black;
    border: none;
}



span{
    font-size: 0.7rem;
}

 .country {
    margin-left:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:17px;
    width:21px;
}


#second{
    font-size: 0.85rem;
    font-weight:700;
    text-align: center;
}


#yay{
    font-size: 0.85rem;
    font-weight:700;
    text-align: center;

}
.logo{
    margin-right: 15px;
}

.logs i{
    font-size: 30px;
    
    
}
.logs{
    font-size: 0.85rem;
    font-weight: 700;
}
/* //panel bar */
.panel{
    background-color: #222f3d;
    height:38px;
    display: flex;
    justify-content: space-evenly;
    color:white;
    align-items: center;
}
.panelopt{
width:70%;
font-size: 0.85rem;


}
.panelopt p{
    margin-left: 15px;
    display: inline;
}
.paneldiv{
font-size: 0.9rem;
font-weight: 700;
}

/* main section */
.main
{
    background-image:url(./hero1.jpg);
    background-size: cover;
    height: 250px;

    
}
/* photos */
.buy{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #f7f1ed;
}

.box{
    height:400px;
    /* border:2px solid black; */
    width:23% ;
    background-color: white; 
    padding:20px 0px 15px;
   margin-top:15px;

}

.boxcontent{
margin-left:10px;
margin-right:10px;

}
.box h2{
    font-size: 21px;
}

.img{
    background-image: url(./box5_image.jpg);
    height:300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;  
}
.imgu{
    background-image: url(./elect.jpg);
     height:300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem; 

}
.imgm{
    background-image: url(./XCM_CUTTLE_1469391_2584745_758x608_2X_en_US._SY608_CB609304299_.jpg);
    height:300px;
   background-size: cover;
   margin-top:1rem;
   margin-bottom:1rem; 

}
.imgw{
    background-image: url(./box6_image.jpg);
    height:300px;
   background-size: cover;
   margin-top:1rem;
   margin-bottom:1rem; 

}
.boxcontent p{
    color:#007185;
    font-size: 13px;
}
.boxcontent p:hover{
    color:orangered;
    text-decoration: underline;
}

.imgk{
    background-image: url(./home\ refresh\ idea.jpg);
    height:300px;
   background-size: cover;
   margin-top:1rem;
   margin-bottom:10px;
}
   .imge
   {
    background-image: url(./kindle\ e\ reader.jpg);
    height:300px;
   background-size: cover;
   margin-top:1rem;
   margin-bottom:10px; 

} 
.imgg
{
    background-image: url(./merch.jpg);
    height:300px;
    background-size: cover;
   margin-top:1rem;
   margin-bottom:10px;

}


.imgt
{
    background-image: url(./deal.jpg);
    height:300px;
   background-size: cover;
   margin-top:1rem;
   margin-bottom:10px; 

}



/* ending part1  */
.foot1{
    height:200px;
    background-color: white;
    margin:10px 20px 10px 20px; 
}

.rect{
    height:160px;
    width:100%;
    border-radius: 5px;
    border:1.2px solid #ddd; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.rect button{
    height:28px;
    width:230px;
    font-size: 12px;
    background-color: #febd68;
    border:1px solid #febd68;
    font-weight: bold;

}
#new{
    font-size: 11px;
}
#new a{
    text-decoration: none;
}


.back{
    margin-top:-25px;
    background-color: #37475a;
    color:white;
    height:51px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size:13px;
}
 .foot2 {
height:470px;
width:100%;
background-color: #232F3E;
display: flex;
flex-direction: column;
 }
 .rect2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: nowrap;
 }

 .get1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding:43px 0px 0px 0px;

}
.get1 p{
    color:white;
    font-size: 17px;
    font-weight: bold;
   

 }
 .get1 a{
    color:#DDDDDD;
    text-decoration: none;
    font-size: 14px;
    padding:12px 0px 0px 0px;
 }

 .get2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding:43px 0px 0px 0px;

}
.get2 p{
    color:white;
    font-size: 17px;
    font-weight: bold;
   

 }
 .get2 a{
    color:#DDDDDD;
    text-decoration: none;
    font-size: 14px;
    padding:12px 0px 0px 0px;
 }

 .get3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding:43px 0px 0px 0px;

}
.get3 p{
    color:white;
    font-size: 17px;
    font-weight: bold;
   

 }
 .get3 a{
    color:#DDDDDD;
    text-decoration: none;
    font-size: 14px;
    padding:12px 0px 0px 0px;
 }
 .get4{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding:43px 0px 0px 0px;

}
.get4 p{
    color:white;
    font-size: 17px;
    font-weight: bold;


 }
 .get4 a{
    color:#DDDDDD;
    text-decoration: none;
    font-size: 14px;
    padding:12px 0px 0px 0px;
 }
 .rect3{
    margin-top:35px;
 }

 hr.hori{
    border: 0.4px solid rgb(135, 133, 133);
    opacity:0.2;
 }
 .amazon{
    padding:15px 0px 0px 0px;
    height:69px;
    width:100%;
    background-color:transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;

 }

 .amalogo{
 height:60px;
 width:100px;

 }
 .amalogo img{
    height:60px;
    width:100px;
 }
 .containerss{
    display: flex;
    flex-direction: row;
    gap:4px;
 }
 .amazon2{
    height:32px;
    width:117px;
    border-radius: 2px;
    border:1px solid rgb(158, 156, 156);
    /* opacity:0.3; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    


 }
.amazon2 .para{
    color:white;
    opacity:0.7;
    font-size:13px;

}

 .amazon3{
    height:32px;
    width:150px;
    border-radius: 2px;
    border:1px solid rgb(158, 156, 156);
    /* opacity:0.3; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

 }
 .amazon3 .para2{
    color:white;
    opacity:0.7;
    font-weight : lighter;
    font-size:13px;
 }
 .amazon4{
    height:32px;
    width:140px;
    border-radius: 2px;
    border:1px solid rgb(158, 156, 156);
    /* opacity:0.3; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;



 }
 .amazon4 p{
    color:white;
    opacity:0.7;
    font-size:13px;
 }
 .foot4{
    height:363px;
    width: 1180px;
    background-color: #131A22;
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .blue1 {
    height:30px;
    width:80px;
    display: flex;
    flex-direction:column;
 }
 .blue1 #bl1{

    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue1 #bl2{
     height:26px;
     width:85px;
    color:#999999;
    font-size: 12px;
 }
 /* //2 */
 .blue2 {
    height:30px;
    width:67.18px;
    display: flex;
    flex-direction: column;
 }
 .blue2 #bl1{
    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue2 #bl2{
   height:39px;
   width:95px;
    color:#999999;
    font-size: 12px;
 }

 /* //3 */
 .blue3 {
    height:30px;
    width:67.18px;
    display: flex;
    flex-direction: column;
 }
 .blue3 #bl1{
    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue3 #bl2{
   height:26px;
   width:97px;
    color:#999999;
    font-size: 12px;
 }
/* //4 */
.blue4 {
    height:30px;
    width:67.18px;
    display: flex;
    flex-direction: column;
 }
 .blue4 #bl1{
    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue4 #bl2{
   height:26px;
   width:72px;
    color:#999999;
    font-size: 12px;
 }
 /* //5 */
 .blue5 {
    height:30px;
    width:67.18px;
    display: flex;
    flex-direction: column;
 }
 .blue5 #bl1{
    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue5 #bl2{
   height:26px;
   width:119px;
    color:#999999;
    font-size: 12px;
 }
 /* //6 */
 .blue6 {
    height:30px;
    width:67.18px;
    display: flex;
    flex-direction: column;
 }
 .blue6 #bl1{
    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue6 #bl2{
   height:26px;
   width:87px;
    color:#999999;
    font-size: 12px;
 }
 /* //7 */
 .blue7 {
    height:30px;
    width:67.18px;
    display: flex;
    flex-direction: column;
 }
 .blue7 #bl1{
    height:26px;
    width:70px;
    color:#f8f9fa;
    font-size: 12px;
    
 }
 .blue7 #bl2{
   height:26px;
   width:79px;
    color:#999999;
    font-size: 12px;
 }

.foot4space{
    height:60px;
    width:40px;
    padding:0px 10px;
}

  

 
 



